@import 'variables';
@import 'mixin';


*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Almarai', sans-serif ;
}

header{
    height: 100vh;
    background-image: url(../images/bg-header.png);
    background-color: $bg-main;
    background-position: center;
    background-size: cover;
    position: relative;
    .navbar{
        .button{
            @include button($main-color, $white-color, $main-color);
        }

        &-nav{
            margin-right: 25px;

            .nav-item{
                margin-right: 15px;
            }
        }

        
    }

    .features{
        position: absolute;
        height: 200px;
        width: 1200px;
        background-color: darken($color: $main-color, $amount: .4) ;
        border-radius: 10px;
        top: 600px;
        bottom: -20px;
        left: 170px;
        
        

        
        // margin:;
        &-cards{
            display: flex;
            max-height: 137px;
            max-width: 340px;
            margin-left: 40px !important;

            text-align: center;
            justify-content: center;

            
            

            .bg-icon{
                background-color: rgba($color: $white-color, $alpha: 0.3);
                height: 80px;
                width: 220px;
                border-radius: 15px;
            }
            
            img{
                height: 54px;
                width: 54px;
                
            }

            .features-title{
                font-size: 23px;
                font-weight: bold;
                line-height: 33px;
            }
        }
        &-text{
            color: $white-color;
            margin-left: 10px;
            p{
                font-size: 15px;
                line-height: 28px;
            }
        }
    }
}

section{
    &.tracks{
        margin-top: 95px;
        h1{
            color: #000;
            font-family: Jost;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 70px */
            text-transform: capitalize;
        }
        p{
            color: #8A8A8A;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .cards-course{

            .price{
                color: #FF7426;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                
            }
            hr{
                margin-top: 30px;
                border-bottom: 2px dotted #ACACAC;
            }

            .custom-thumbnail{
                img{
                    padding: 10px;
                    border-radius: 25px;
                }
            }

            .card{
                border-radius: 14px;
                background: $white-color;
                box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
                position: relative;
                padding: 0px 0px 25px 0;
                

                &-body{
                    .details{
                        i{
                            color: #000;
                            font-size: 12px;
                        }

                        span{
                            color: #ACACAC;
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                    }
                }
                
            }
            
            h3{
                @include section-title($black-color);
                margin-right: 15px;
            }
            p{
                color: #8A8A8A;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .rating{
                color: #FFA135;
            }

            .overlay{
                position: absolute;
                left: 110px;
                top: 365px;
                button{
                    @include button($butt,$white-color,$butt);
                    padding: 7px 10px;
                    width: 175px !important;
                    height: 45px;
                    flex-shrink: 0;
                    
                }
                
            }
        }
    }

    &.premium{
        background-color: $bg-main;
        height: 600px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 120px;

        .frame{
            height: 600px;
            width: 600px;
        }

        .premium-text{
            margin-top: 145px;
            margin-left: 225px;
            font-family: 'Roboto', sans-serif !important;
            font-size: 69px;
            font-family: 'Roboto';
            font-weight: 900 !important;
            span{
                color: $butt;
            }

            h1.move{
                margin-right: 133px;
            }
        }

        .experience{
            // padding: 20px;
            margin-left: 225px;
            &-icon{
                background-color: $main-color;
                padding: 15px;
                border-radius: 23px;
            }

            &-text{
                padding-top: 10px;
                h3{
                    color: #050C26;
                    font-family: 'Roboto';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 171%; /* 51.3px */
                }
                p{
                    color: #8A8A8A;
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 171%; /* 44.46px */
                }
            }
        }

    }

    &.comments{
        height: 600px;
        background-image: url(../images/Frame\ \(1\).png);
        // background-position: bottom;
        background-size: auto;

        p{
            color: #ACACAC;
        }
        
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper {
            width: 100%;
            height: 300px;
            margin-top: 50px;
            position: relative;
            .swiper-pagination{
                background-color: transparent;
                position: absolute;
                top: 230px;
                margin: 0;
                padding: 0;
                height: 30px;
            }
        }
          
        .swiper-slide {
            margin: 0;
            height: 200px;
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 88px 0px rgba(0, 0, 0, 0.05);
            p{
                color: #ACACAC;
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
            }

            .text{
                float: left;
                padding: 25px 15px 0 15px;
                h5{
                    color: #050C26;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    // line-height: 167.5%; /* 67px */
                    letter-spacing: 0.8px;
                    text-transform: capitalize;
                }

                p{
                    color: #ACACAC;
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }
          
        .swiper-slide img {
            display: flexbox;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            object-fit: cover;
            margin: 20px 0 0 20px;
         }
    }

    &.subscribe{
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;
        height: 490px;
        .subscribe{
            
            &-box{
                background-color: $main-color;
                width: 1000px;
                height: 320px;
                margin-left: 140px;
                
            }

            &-title{
                padding-top: 80px;
                color: $white-color;
            }

            &-form{
                
                
                .custom-form-control{
                    border-radius: 50px;
                    background-color: $bg-main;
                    width: 500px;
                    height: 50px;
                    margin-left: 245px;
                    text-decoration: none;
                    position: relative;
                }

                button{
                    @include button($butt, $white-color, $butt);
                    position: absolute;
                    top: 3003px;
                    left: 895px;
                }
            }
        
        }
        
    }
}

footer {
    background-color: $bg-main;
    padding: 50px;

    .footer-title{
        margin-bottom: 30px;
        position: relative;

        &::after{
            content: '';
            position: absolute;
            width: 50px;
            height: 5px;
            background-color: $butt;
            right: 255px;
            bottom: -15px;
        }
    }

    .link-unstyled{
        text-decoration: none;
        color: $black-color;
    }

    .social-media{
        list-style: none;
        padding: 0;
        text-align: center;

        &-icon{
            display: inline;
            margin: 10px;

            img{
                width: 40px;
            }
        }
    }

    .footer-brand{
        color: $main-color;
        font-size: 30px;
        margin: auto;
        text-decoration: none;
    }
}

